/*Código armado por La Foca Loca S.A. No modificar*/
body {
  font-family: Arial, sans-serif;
  width: 940px;
  margin: 5% auto;
  min-height: 100%;
  background-image: url(../images/adventure.jpg);
}
ul {
  padding-left: 0;
  list-style: none;
}
li {
  padding: 5px 0;
  animation: fadein 5s;
  font-size: 14px;
}
li::before {
  content: "• ";
  color: #EC6778;
}

.col-40 h1 {
  font-size: 20px;
  color: #FFF;
}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}
.col-40 {
  background: #FFF;
  padding: 5px 30px;
  color: #000;
}

.col-60 {
  background: #E84A5F;

}

#flecha{
  font-size: 60px;
}

.texto-centrado {
  text-align: center;
}

#juego div {
  text-align: center;
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#juego {
  width: 600px;
  height: 600px;
}

.cuadro {
  width: 33.33%;
  float: left;
}

.cuadro img {
  width: 100%;
  display: block; /* Para eliminar el margin-bottom que me estaba agregando */
  border: solid 1px #6ab2e4;
  box-sizing: border-box;
}

#objetivo img {
  width: 60%;
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

#titulo {
  background-color: #e84a5f;
}

h2 {
  font-size: 17px;
  color: #e84a5f;
}

#footer {
  background-color: #e84a5f;
  color: #fff;
  min-width: 100%;
  position: fixed;
  bottom: 0%;
  left: 0px;
}

#cartel {
  background-color: #fff;
  width: 500px;
  height: 500px;
  text-align: center;
  border: 1px solid #E84A5F;
  border-radius: 50%;
  position: fixed;
  top: 5%;
  left: 35%;
  display: none;
}

#cartel p {
  position: relative;
  top: 25%;
  font-size: 40px;
  color: #E84A5F;
}

#lista-ult5-mov li{
  display: inline-block;
  margin: 0 7%;
  animation: unset;
}

#lista-ult5-mov li::before{
  content: unset;
}

#lista-ult5-mov {
  list-style: none;
}


#movimientos-realizados {
  position: relative;
  top: 20%;
  width: 300px;
  margin-left: 20%;
}

#movimientos-realizados li::before {
  content: unset;
}

#movimientos-realizados li {
  animation: unset;
  display: inline-block;
  border: 1px solid black;
    width: 25px;
  height: 20px;
  margin: 1px;
}